%table.table.table-bordered

  %tbody
  
   

    %tr
      %td= @users.id
      %td= @users.email
      %td= @users.created_at
      %td= @users.sign_in_count
      %td= @users.current_sign_in_at
      %td= @users.last_sign_in_at
      %td= @users.current_sign_in_ip
      %td= @users.last_sign_in_ip
