%h1 Listing lessons2s

%table
  %thead
    %tr
      %th Title
      %th Content
      %th Courses
      %th
      %th
      %th

  %tbody
    - @lessons2s.each do |lessons2|
      %tr
        %td= lessons2.title
        %td= lessons2.content
        %td= lessons2.courses
        %td= link_to 'Show', lessons2
        %td= link_to 'Edit', edit_lessons2_path(lessons2)
        %td= link_to 'Destroy', lessons2, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Lessons2', new_lessons2_path
